!!!
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="utf-8")/
    %meta(content="IE=edge" http-equiv="X-UA-Compatible")/
    %meta(content="width=device-width, initial-scale=1" name="viewport")/
    %meta(content="" name="description")/
    %meta(content="" name="author")/
    %title Fishscale - The best fish finder around

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    / Custom Fonts
    %link(href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css")/
    %link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css")/
  %body.landing-page#page-top(data-spy="scroll" data-target=".navbar-fixed-top")
    / Navigation
    %nav.navbar.navbar-custom.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          %button.navbar-toggle(data-target=".navbar-main-collapse" data-toggle="collapse" type="button")
            Menu
            %i.fa.fa-bars
          %a.navbar-brand.page-scroll(href="#page-top")
            %i.fa.fa-play-circle
            %span.light Fish
            Scale
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          %ul.nav.navbar-nav
            / Hidden li included to remove active class from about link when scrolled up past about section
            %li.hidden
              %a(href="#page-top")
            %li
              %a.page-scroll(href="#about") About
            %li
              %a.page-scroll(href="#download") Download
            %li
              %a.page-scroll(href="#contact") Contact
        / /.navbar-collapse
      / /.container
    / Intro Header
    %header.intro
      .intro-body
        .container
          .row
            .col-md-8.col-md-offset-2
              %h1.brand-heading Fishscale
              %p.intro-text
                When you really crave salmon
              %a.btn.btn-circle.page-scroll(href="#about")
                %i.fa.fa-ship.animated
    / About Section
    %section#about.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          %h2 About Fishscale
          %p
            Fishcale is the easiest way to satisfy your pescine cravings!
    / Download Section
    %section#download.content-section.text-center
      .download-section
        .container
          .col-lg-8.col-lg-offset-2
            %h2 Start Enjoying Fish Today!
            = link_to "/signup", class:"btn btn-default btn-lg" do
              Sign up!
    / Contact Section
    %section#contact.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          %h2 Contact Fishscale
          %p Feel free to email us to provide some feedback on our fish!
          %p
            %a(href="mailto:marlin@fishscale.com") feedback@startbootstrap.com
          %ul.list-inline.banner-social-buttons
            %li
              %a.btn.btn-default.btn-lg(href="https://twitter.com/SBootstrap")
                %i.fa.fa-twitter.fa-fw
                %span.network-name Twitter
            %li
              %a.btn.btn-default.btn-lg(href="https://github.com/IronSummitMedia/startbootstrap")
                %i.fa.fa-github.fa-fw
                %span.network-name Github
            %li
              %a.btn.btn-default.btn-lg(href="https://plus.google.com/+Startbootstrap/posts")
                %i.fa.fa-google-plus.fa-fw
                %span.network-name Google+
    / Footer
    %footer
      .container.text-center
        %p Copyright © Your Website 2016
    / Plugin JavaScript
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
